
.chat-frame {
    padding: 0em 1em 1em 1em;
    width: 100%;
    height: calc(100% - 3.5em);
    box-sizing: border-box;
}

.chat-area {
    background-color: #fff;
    border-bottom: 1px solid #e5e5ea;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    font-family: "SanFrancisco";
    margin-bottom: 10px;
    height: calc(100% - 45px - 10px);
    box-sizing: border-box;
    overflow: auto;
    padding: 15px;
}

.chat-area div::before,
.chat-area div::after {
    bottom: -0.1rem;
    content: "";
    height: 1rem;
    position: absolute;
}

.chat-area div {
    border-radius: 1.15rem;
    line-height: 1.25;
    position: relative;
    word-wrap: break-word;
}

.chat-input {
    height: 45px;
    border-radius: 20px !important;
    border: none;
    background-color: #f5f5f5;
    margin-right: 15px;
    margin-left: 5px;
}

div.chat-bubble-other {
    align-items: flex-start;
    background-color: #e5e5ea;
    color: #000;
}

.chat-bubble-other .content-container {
    color: black;
}

.chat-bubble-me .content-container {
    color: white
}

div[class^="chat-bubble-"] {
    margin: 0.5rem 0;
    width: fit-content;
    display: inline-block;
}

div.chat-bubble-me {
    align-self: flex-end;
    background-color: #248bf5;
    color: #fff;
}

.circle {
    background-color: mediumpurple;
    color:white;
    width:35px;
    height:35px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-container {
    display: flex;
    justify-content: flex-end;
}

.message-container {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 15px;
}

.user-name-container, .time-container, .content-container {
    padding: 0;
    margin: 0;
}

.user-name-container {
    font-weight: 600;
    font-size: 15px;
}

.time-container {
    font-size: 12px;
    opacity: 70%;
}

#company-name {
    font-size: 0.75em;
    margin-left: 1em;
}

#send-button {
    border-radius: 20px !important;
    height: 45px;
    box-shadow: none !important;
}
