#lunch-together-form-frame {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#lunch-together-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 50em;
  width: 100%;
  padding: 1em 1.5em 1.5em 1.5em;
}

#arrow-back-button {
  align-self: flex-start;
  padding-left: 0;
  justify-content: start;
  margin-bottom: 1em;
}

#map {
  width: 100%;
  height: 20em;
  border: 1px solid silver;
}

#menu-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
}

#search-places {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

#search-places>button {
  margin-left: 1em;
}

#place-list {
  width: 100%;
}

#place-list>button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 1.5em;
}

#place-list>button>ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
}

#pagination {
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  margin: 1em 0 0.5em 1.5em;
}

/* Give some space between page numbers. */
#pagination>a {
  margin-right: 1em;
}

#appointment-form * tr {
  height: 3em;
}

#appointment-form>button {
  margin-top: 1em;
  float: right;
}

#appointment-form * tr>td:nth-of-type(1) {
  text-align: right;
  padding-right: 1em;
}

#appointment-form * input {
  width: 12em;
}
