section {
    height: calc(100% - 3.5em);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gathering-cards-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-height: 80vh;
    max-width: 780px;
    overflow: scroll;
}
.infinite-scroll {
    display: block;
}

.upcoming-gatherings {
    display: flex;
    flex-direction: column;
}