.tick {
    font-size: 40px;
}

#one-on-one-section {
    height: calc(100% - 3.5em);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.countdown-container {

    border-radius: 20px;
    box-shadow: 10px 15px 40px 1px hsl(229 6% 80%);
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.countdown-detail {
    padding-top: 10px;

}